<div class="container">
  <br>
  <table class="table table-hover table-responsive">
    <tr>
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Number
      </th>
      <th>
        Language
      </th>
      <th>
        Industry
      </th>
      <th class="col-md-2">
        Website
      </th>
    </tr>
    <% @services.each_with_index do |service, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= link_to service.first + " " + service.last, service_path(service) %>
        </td>
        <td>
          <%= service.number %>
        </td>
        <td>
          <%= service.language %>
        </td>
        <td class="col-md-2">
          <%= service.industry %>
        </td>
        <td>
          <!-- <%= link_to service.website, service_path(service) %> -->
          <a href="<%= service.website %>"><%= service.website %></a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
