<%= title "Businesses" %>
<br>
<div class="container">
  <header class="jumbotron hero-spacer">
    <h1>Business</h1>
    <p>Find a business and connect!</p>
  </header>
</div>
<div class="container">
  <br>
  <table class="table table-hover table-responsive">
    <tr>
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Number
      </th>
      <th>
        Language
      </th>
      <th>
        Description
      </th>
      <th>
        Industry
      </th>
      <th class="col-md-2">
        Website
      </th>
    </tr>
    <% @businesses.each_with_index do |business, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= link_to business.name, business_path(business) %>
        </td>
        <td>
          <%= business.number %>
        </td>
        <td>
          <%= business.address %>
        </td>
        <td>
          <%= business.description %>
        </td>
        <td class="col-md-2">
          <%= business.industry %>
        </td>
        <td class="col-xs-2" style="flex: wrap; ">
          <a href="<%= business.website %>"><%= business.website %></a>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="container">
  <% @businesses.each do |business| %>
    <!-- <div class="col-md-4">

      <div class="card" style="width: 20rem;">
        <%= image_tag business.image.url(:small), class: "card-img-top"  %>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
    <div class="col-md-6 col-xs-12">
      <div class="col-md-5 col-xs-5">
        <%= image_tag business.image.url(:small), class: "img-responsive"  %>
      </div>
      <div class="col-md-6 col-xs-7">
        <div class="card-block">
          <h4 class="card-title">
            <%= business.name %>
          </h4>
          <p>
            <%= business.industry %>
          </p>
          <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  </p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <% end %>
</div>
