
<div id="banner2">

</div>
<br>
<div class="container" style="text-align: center;">
  <%= social_share_button_tag("Portland Asia - Events, news, all things Asian in Portland", image: "/assets/pdxasialogo1.png", :url => "http://www.portlandasia.com") %>
</div>
<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">

      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
        <br>Food
      </div>
      <% @foods.each_with_index do |food, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <%= link_to food_path(food) do %>
            <%= image_tag(food.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <%= link_to food_path(food) do %>
            <%= image_tag(food.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <%= link_to food_path(food) do %>
            <%= image_tag(food.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">
      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
        <br>
        Shop
      </div>
      <% @shops.each_with_index do |shop, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <%= link_to shop_path(shop) do %>
            <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <%= link_to shop_path(shop) do %>
            <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <%= link_to shop_path(shop) do %>
            <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">
      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
        <br>
        Community
      </div>
      <% @communities.each_with_index do |community, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <%= link_to community_path(community) do %>
            <%= image_tag(community.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <%= link_to community_path(community) do %>
            <%= image_tag(community.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <%= link_to community_path(community) do %>
            <%= image_tag(community.image.url(:small), class: "card-width-11") %>
            <% end %>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="col-md-6 col-xs-6">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JK3o0ZAwIqk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wFGCr9KsqUA" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
