
<div id="banner2">

</div>
<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">

      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-cutlery" aria-hidden="true"></i>
          <br>
          Food
          </a>
      </div>
      <% @foods.each_with_index do |food, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to food_path(food) do %>
              <%= image_tag(food.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to food_path(food) do %>
              <%= image_tag(food.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to food_path(food) do %>
              <%= image_tag(food.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to food.name, food_path(food) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">

      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
          <br>
          Shop
          </a>
      </div>
      <% @shops.each_with_index do |shop, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to shop_path(shop) do %>
              <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to shop_path(shop) do %>
              <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to shop_path(shop) do %>
              <%= image_tag(shop.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to shop.name, shop_path(shop) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="wrapper">
    <div class="scroll-wrapper">

      <div class="welcome-item-height food-box">
        <a href="/foods"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>
          <br>
          Comm
          </a>
      </div>
      <% @communities.each_with_index do |community, index| %>
        <% if index < 4 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to community_path(community) do %>
              <%= image_tag(community.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% elsif index.between?(4,7) %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to community_path(community) do %>
              <%= image_tag(community.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% elsif index > 7 %>
          <div class="welcome-item-height">
            <a href="#">
              <img class="img-responsive">
              <%= link_to community_path(community) do %>
              <%= image_tag(community.image.url(:small), class: "card-width-11") %>
              <% end %>
            </a>
            <h4>
              <a>
                <%= link_to community.name, community_path(community) %>
              </a>
            </h4>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
