<%= render "layouts/errors", :object => @event %>

<%= form_for @event, html: { multipart: true } do |f| %>
  <%= f.label :name %>:
  <br>
  <%= f.text_field :name %><br />

  <%= f.label :location %>:
  <br>
  <%= f.text_field :location %><br />
  <br>
  <%= f.date_select :date %>
  <br>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :categories %>: Category
  <%= f.fields_for :categories do |category_fields| %>
  <p>
    <%= category_fields.text_field :name %>
  </p>
  <% end %>
  <br>
  <%= f.label :image %>: Cover Photo
  <%= f.file_field :image %>
  <br>
  <%= f.submit %>
<% end %>
