<div id="banner">

</div>
<div id="events">

</div>
<div class="container ">
  <div class="row">
    <h1 class="upcoming-events">Upcoming <span class="font-blue">Events</span></h1>
    <div class="event-header">
      <%= button_to "Post An Event", new_event_path, :class => "post-event-button", :method => :get %>
      <p class="display-inline font-italic">
        Where to go out, dance, and revel. Hand-picked events in Portland, curated by a team with combined decades in town.
      </p>
    </div>
  </div>
  <div class="row event-bar">
    <div class="col-md-12">

      <a href="/events">
        <div class="col-md-2 col-xs-2 event-box">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            ALL EVENTS
          </p>
        </div>
      </a>
      <a href="/foods">
        <div class="col-md-2 col-xs-2 event-box">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            SPORTS
          </p>
        </div>
      </a>
      <a href="/foods">
        <div class="col-md-2 col-xs-2 event-box">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            DINING
          </p>
        </div>
      </a>
      <a href="/foods">
        <div class="col-md-2 col-xs-2 event-box">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            COMMUNITY
          </p>
        </div>
      </a>
      <a href="/foods">
        <div class="col-md-2 col-xs-2 event-box">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            ARTS
          </p>
        </div>
      </a>
      <a href="/foods">
        <div class="col-md-2 col-xs-2 event-box no-border">
          <i class="fa fa-home font-30" aria-hidden="true"></i>
          <p>
            NIGHTLIFE
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <p class="display-inline">
      Date
    </p>
    <input class="display-inline" type="text_field" name="name" value="" placeholder="DATE">
  </div>
  <div class="row">
    <div class="col-md-8">
      <% @event.each do |event| %>
        <div class="well">
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <div class="">
                <%= event.date.strftime("%B") %>
                <span class="date-font">
                  <%= event.date.strftime("%e") %>
                </span>
              </div>
            </div>
            <div class="col-md-2 col-xs-2">
              <div class="event-image">
                <%= link_to event_path(event) do %>
                  <%= image_tag(event.image.url(:thumb)) %>
                <% end %>
              </div>
            </div>
            <div class="col-md-8 col-xs-8">
              <p class="event-title">
                <%= link_to event.name, event_path(event) %>
              </p>
              <%= event.location %>
              <br>
              <%= event.description %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="well">
        Stuff
      </div>
    </div>
  </div>
</div>
