<div class="container-fluid no-padding">
  <div class="banner-section">
    <div class="food-bg-wrap">
      <div class="food-background img-responsive" style="background-image: url(<%= @food.image %>);">
      </div>
    </div>
    <div class="food-title">
      <%= @food.name %>
    </div>
    <div class="breadcrumbs">
      <%= render_breadcrumbs :separator => ' > ' %>
    </div>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="row no-margin">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div id="owl-carousel">
        <div class="item img-responsive">
          <%= image_tag @food.image.url(:small) %>
        </div>
        <% @food.pictures.each do |picture| %>
          <div class="item img-responsive">
            <%= image_tag(picture.image.url(:small)) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="col-md-4">
    <div class="well">
      <h4>Contact</h4>
      <%= @food.name %>
      <br>
      <%= @food.address %>
      <br>
      <%= @food.bio %>
      <br>
      <%= link_to @food.yelp, @food.yelp %>
      <br>
      <%= link_to "Edit", edit_food_path(@food) %>
      <br>
      <!-- <p>
        <%= link_to "Delete", food_path(@food), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
      </p> -->
    </div>
    <div class="well">
      <h4>Tags</h4>
      <% @food.categories.each_with_index do |category, idx| %>
        <% if idx > 0 %>
          |
        <% end %>
        <%= category.name %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well">
      <div class="video-container">
        <iframe width="560" height="315" src="<%= @food.youtube %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="well">
      <h4>About</h4>
      <%= @food.bio %>
    </div>
    <div class="well">
      <h4>Tags</h4>
      <%= @food.categories.map(&:name).join(' | ') %>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#owl-carousel").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1119,5],
            itemsDesktopSmall : [979, 5]
        });
    });
</script>
