<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="pdxasialogo img-responsive" src="/assets/pdxasialogo1.png" alt="" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/foods"><i class="fa fa-cutlery" aria-hidden="true"></i> Food<span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Events</a></li>
        <li><a href="/shops"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shopping</a></li>
        <li><a href="/communities"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Community</a></li>
        <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Videos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid no-padding">
  <div class="banner-section">
    <div class="food-bg-wrap">
      <div class="food-background img-responsive" style="background-image: url(<%= @food.image %>);">
      </div>
    </div>
    <div class="food-title">
      <%= @food.name %>
    </div>
    <div class="breadcrumbs">
      <%= render_breadcrumbs :separator => ' > ' %>
    </div>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="row no-margin">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div id="owl-carousel">
        <div class="item img-responsive">
          <%= image_tag @food.image.url(:small) %>
        </div>
        <% @food.pictures.each do |picture| %>
          <div class="item img-responsive">
            <%= image_tag(picture.image.url(:small)) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="">
  <%= @food.name %>
  <br>
  <%= @food.address %>
  <br>
  <%= @food.bio %>
  <br>
  <% @food.categories.each do |category| %>
		<%= category.name %> | 
	<% end %>
  <br>
  <%= link_to @food.yelp %>
  <br>
  <%= link_to "Edit", edit_food_path(@food) %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#owl-carousel").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1119,5],
            itemsDesktopSmall : [979, 5]
        });
    });
</script>
