<div class="container-fluid">
  <% @pictures.each do |picture| %>
  <%= image_tag(picture.image.url(:small)) %>
  <% end %>
  <% @foods.each do |food| %>
    <%= image_tag(food.image.url(:small)) %>
  <% end %>
  <% @communities.each do |community| %>
    <%= image_tag(community.image.url(:small)) %>
  <% end %>
  <% @shops.each do |shop| %>
    <%= image_tag(shop.image.url(:small)) %>
  <% end %>
  <% @events.each do |event| %>
    <%= image_tag(event.image.url(:small)) %>
  <% end %>
</div>
