
<!-- <div class="demographic-statistics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 stat-div">
        <h4>Hi, Friend!</h4>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          Asians in Portland Metro
        </div>
        <div class="stat-number">
          7.6%
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          Total Asians
        </div>
        <div class="stat-number">
          134,726
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          General Population
        </div>
        <div class="stat-number">
          1,766,135
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          2015 Asian Growth
        </div>
        <div class="stat-number">
          4.5%
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          2015 Total Population Growth
        </div>
        <div class="stat-number">
          1.5%
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          2014 Asian Growth
        </div>
        <div class="stat-number">
          4.7%
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          2014 Total Population Growth
        </div>
        <div class="stat-number">
          1.1%
        </div>
      </div>
      <div class="col-md-2 stat-div">
        <div class="stat-text">
          Oregon Population
        </div>
        <div class="stat-number">
          4,028,977
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container-fluid restaurants-row">
  <div id="food-row" class="row">
    <% @communities.each do |community| %>
      <div class="col-md-2 col-xs-6">
        <div class="food-item">
          <div class="food-image">
            <%= link_to image_tag(community.image.url(:small), class: "food-image-tag") %>
          </div>
          <div class="food-text">
            <%= link_to community.name, community_path(community) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div> -->

<div class="container">
  <br>
  <div class="row">
    <% @communities.each do |community| %>
      <div class="col-md-6 col-xs-6">
        <div class="well event-well">
          <div class="row">
            <div class="col-md-5 col-xs-5">
              <div class="community-square">
                <%= link_to community_path(community) do %>
                  <%= image_tag(community.image.url(:thumb), class: "image-responsive black-border") %>
                <% end %>
              </div>
            </div>
            <div class="col-md-7 col-xs-7">
              <p class="community-title">
                <%= link_to community.name, community_path(community) %>
              </p>
              <p>
                <%= community.address %>
              </p>
              <p>
                <%= community.number %>
              </p>
            </div>
          </div>
          <div class="row">
            <br>
            <p class="community-bio">
              <%= community.bio %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
