
<div class="container-fluid no-padding">
  <div class="banner-section">
    <div class="food-bg-wrap">
      <div class="food-background img-responsive" style="background-image: url(<%= @community.image %>);">
      </div>
    </div>
    <div class="food-title">
      <%= @community.name %>
    </div>
    <div class="breadcrumbs">
      <%= render_breadcrumbs :separator => ' > ' %>
    </div>
  </div>
</div>
<div class="container-fluid no-padding">
  <div class="row no-margin">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <div id="owl-carousel">
        <div class="item img-responsive">
          <%= image_tag @community.image.url(:small) %>
        </div>
        <% @community.pictures.each do |picture| %>
          <div class="item img-responsive">
            <%= image_tag(picture.image.url(:small)) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="">
  <%= @community.name %>
  <br>
  <%= @community.address %>
  <br>
  <%= @community.bio %>
  <br>


  <br>
  <%= link_to "Edit", edit_community_path(@community) %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#owl-carousel").owlCarousel({
            autoPlay: 3000,
            items : 5,
            itemsDesktop : [1119,5],
            itemsDesktopSmall : [979, 5]
        });
    });
</script>
